[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Babel = "*"
Flask = "*"
Flask-Admin = "*"
Flask-BabelEx = "*"
Flask-Login = "*"
Flask-SQLAlchemy = "*"
gunicorn = "*"
"psycopg2" = "*"
python-dateutil = "*"
requests = "*"
SQLAlchemy = "*"
Werkzeug = "*"
WTForms = "*"

[dev-packages]
python-dotenv = "*"

[requires]
python_version = "3.10"
