[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-admin = "*"
sqlalchemy = "*"
python-dateutil = "*"
"psycopg2" = "*"
requests = "*"
gunicorn = "*"
Flask-SQLAlchemy = "*"
Babel = "*"
WTForms = "*"
Flask-Login = "*"
Flask-BabelEx = "*"
Werkzeug = "*"
Flask = "*"

[dev-packages]

[requires]
python_version = "3.7"
