{% extends 'admin/master.html' %}

{% block body %}
    {{ super() }}
    <div class="row-fluid">

        <div>
            {% if current_user.is_authenticated %}
                <p class="lead">
                    Έχετε αναγνωριστεί ως χρήστης: {{ current_user.display_name }}
                </p>
                <p>

                    <a class="btn btn-primary" href="{{ url_for('.logout_view') }}"><i
                            class="glyphicon glyphicon-log-out"></i> Έξοδος</a>
                </p>
            {% else %}
                <div class="panel-body">
                    <form method="POST" action="" class="form-horizontal">
                        {{ form.hidden_tag() if form.hidden_tag }}
                        {% for f in form if f.type != 'CSRFTokenField' %}
                            <div class="form-group {% if f.errors %}has-feedback has-error{% endif %}">
                                {{- f.label(
                                class="col-sm-3 control-label",
                                text=f.label.text + (" *" if f.flags.required else ""))-}}
                                <div class="col-sm-3 {%- if f.errors %} danger{% endif %}">
                                    {{ f }}
                                </div>
                                {%- if f.errors -%}
                                    <div class="col-sm-4 danger">
                                        <span class="glyphicon glyphicon-remove form-control-feedback"></span>
                                        {% for e in f.errors %}
                                            <span class="help-inline danger">{{ e }}</span>
                                        {% endfor %}
                                    </div>
                                {%- endif -%}
                            </div>
                        {% endfor %}
                        <div class="form-group">
                            <div class="col-sm-6">
                                <input type="submit" class="form-control btn btn-success" value="Είσοδος"/>
                            </div>
                        </div>
                    </form>
                </div>
                {{ link | safe }}
            {% endif %}
        </div>
    </div>
{% endblock %}